.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5em;
  background-color: #eee;
}

.header a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: rgb(31, 6, 6);
}

.header a:hover,
.header a:active {
  color: rgb(131, 6, 6);
}
